@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04), 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    max-height: 100vh;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
}

#left {
    background: #FFF;
    flex: 424;
    padding-right: 0.5rem;
    height: 100%;
    display: grid;
    grid-template-areas: 'header header' 'nav main';
    grid-template-columns: 94fr 312fr;
    grid-template-rows: 53fr 708fr;
}


/* left Main grids  */

#left .header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}

#left .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#left .contacts-list {
    grid-area: main;
    max-height: 100%;
    overflow: auto;
}


/* --- End left Main grids  ---  */

.side-options {
    display: flex;
    padding-right: 0.1rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.8em;
}

.nav .main-items {
    /* section right nav top options*/
    flex: 60;
    display: flex;
    flex-direction: column;
}

.nav-item {
    padding-top: 0.75rem;
    padding-bottom: 1rem;
}

.nav-item div:nth-of-type(1) {
    display: flex;
    justify-content: center;
}

.nav-item div {
    text-align: center;
}

.nav-item div.notified {
    /* text-align: center; */
    /* margin-left: 1rem; */
    background: var(--m-3-state-layers-light-on-secondary-container-opacity-012, rgba(29, 25, 43, 0.12));
    border-radius: 1rem;
}

.nav-item div img {
    display: flex;
    /* margin: auto; */
    padding: 0.25 1.25;
    flex-shrink: 0;
    float: left;
    min-width: 1.5rem;
    max-width: 1.8rem;
    height: auto;
}

.nav-item div.notified img {
    margin-left: 0.7rem;
}

.nav-item .num-notification {
    position: relative;
    /* display: flex; */
    right: 0.8rem;
    top: -0.5rem;
    /* right: 1rem;
    top: -0.5rem; */
    min-width: 0.75rem;
    /* max-width: .125rem;
    padding: 0rem 0.25rem; */
    justify-content: center;
    /* align-items: center; */
    border-radius: 6.25rem;
    background: var(--m-3-sys-light-error, #B3261E);
    color: var(--m-3-sys-light-on-primary, #FFF);
    text-align: center;
    font-family: "Roboto";
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
}

.nav-item a {
    /* display: block; */
    margin: auto;
    text-decoration: none;
    color: #677882;
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.5px;
}

.nav-item:hover a,
.nav-item .highlighted a {
    color: var(--m-3-sys-light-on-surface, #1D1B20);
    cursor: pointer;
}

.nav-item:hover {
    cursor: pointer;
}

.nav .nav-bottom {
    /* section containing help and profile*/
    flex: 40;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
}


/* .contacts-list */

.contacts-list {
    /* border: solid 1px steelblue; */
    padding-right: 0.2rem;
    padding-left: 1rem;
}

.search {
    margin-bottom: 1.25rem;
    position: sticky;
    top: 0;
}

.search input {
    border-radius: 13px;
    /* background: ; */
    width: 100%;
    padding: 1rem 2.5rem;
    border: none;
    background: url(images/search-icon.svg) 5% center no-repeat, url(images/filter.svg) 95% center no-repeat;
    background-color: #F0F2F5;
}

::placeholder {
    color: #677882;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
}

.contact-card {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.375rem 0 0.375rem;
    margin-bottom: 0.6375rem;
}

.contact-card.on-focus {
    border-radius: 7px;
    background: #F0F2F5;
}

.contact-card:hover {
    background: #F0F2F5;
    cursor: pointer;
}

.profile-image {
    flex: 1;
}

.chat {
    flex: 3;
    padding-left: 1rem;
}

.card-right {
    flex: 1;
    padding-top: 0.5rem;
}

.profile-image img {
    max-width: 3.75rem;
    border-radius: 50%;
}

.contact-card .chat .chat-profile-name {
    margin: 0.25rem 0 0 0;
    color: #3B4A54;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    /* 150% */
}

.contact-card .chat-mssage {
    margin: 0.5rem 0;
    color: #3B4A54;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 133.333% */
}

.contact-card .time {
    margin: 0.25rem 0 0.5rem 0;
    color: #829C99;
    text-align: right;
    font-family: Helvetica Neue;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%
}

.status-field {
    display: block;
}

.status-field div {
    float: right;
}

.contact-card .status-field div.hidden-arrow {
    display: none;
}

.contact-card:hover div .hidden-arrow {
    display: inline;
    float: right;
}


/* contact-card-unread */

.contact-card.not-read .time {
    margin: 0.25rem 0 .25rem 0;
}

.contact-card.not-read .status {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    text-align: center;
    /* font-family: Plus Jakarta Sans; */
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
    background: #24D366;
    /* max-width: 1rem; */
    /* margin-left: 3.5rem; */
    border-radius: 50%;
    width: 1.2rem;
}


/* Right */

#right {
    background: #FAFAFA;
    flex: 696;
    height: 100vh;
    /* overflow: clip; */
    max-height: 100%;
    overflow: auto;
}

#right main {
    padding-bottom: 5rem;
}

#right header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* max-height: 75px; */
    background: #F7F7FC;
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    margin-bottom: 1.94rem;
    z-index: 10;
}

#right header .account {
    margin: 0;
}

#right header .icons {
    display: flex;
    justify-content: flex-end;
    gap: 1.75rem;
}

p.encrypted-disclaimer {
    width: 70%;
    padding: .75rem 1.25rem;
    padding-left: 3.1rem;
    border-radius: 12px;
    background: #FEECDC url(images/padlock.svg) 5% center no-repeat;
    color: #3B4A54;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    text-align: center;
}

p.moment {
    border-radius: 7.5px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 0.5px 0px rgba(11, 20, 26, 0.13);
    display: inline-flex;
    max-width: 404.41px;
    padding: 5px 12.38px 6px 12px;
    align-items: flex-start;
    margin: 0;
    color: #54656F;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.40);
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 168%;
    margin-left: 24%;
    margin-top: 1.75rem;
    text-transform: uppercase;
    /* padding-bottom: 1.25rem; */
    margin-bottom: 1.25rem;
}

.chats {
    padding-left: 1.65rem;
}

.chats .chat {
    position: relative;
    display: inline-flex;
    max-width: 40%;
    padding: 6px 7px 3px 9px;
    align-items: flex-end;
    border-radius: 7.5px;
    border-radius: 0px 7.5px 7.5px 7.5px;
}

.chat.received-chat {
    background: #FFF;
    box-shadow: 0px 1px 0.5px 0px rgba(11, 20, 26, 0.13);
    margin-bottom: 5px;
}

.chat .chat-content {
    color: #111B21;
    font-size: 0.8875rem;
    font-weight: 400;
    line-height: 133.803%;
    margin: 0.3175rem 0;
}

.chat .chat-time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #667781;
    font-family: Helvetica Neue;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    /* 136.364% */
    margin-bottom: 0;
    padding: 0 0.3rem;
}

.chats .chat .img-time {
    position: absolute;
    right: 1%;
    margin-bottom: 0;
    color: white;
}

.chats .sent {
    position: relative;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* position: relative; */
}

.chat.sent-chat {
    position: absolute;
    /* left: 70%; */
    right: 2%;
    border-radius: 7.5px 0px 7.5px 7.5px;
    background: #D9FDD3;
    box-shadow: 0px 1px 0.5px 0px rgba(11, 20, 26, 0.13);
    max-width: 40%;
}

.chats .chat.img img {
    max-width: 100%;
}

.chats .sent-chat .chat-time p {
    margin-top: 0;
    margin-bottom: 0;
}


/* FOOT */

footer {
    position: fixed;
    bottom: 0;
    width: 62%;
}

.foot-chat-input {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
    background: #F6F6F6;
}

.foot-chat-input .emoji-picker {
    flex: 24;
    vertical-align: center;
    padding: 12px 0px 12px 0px;
}

.foot-chat-input .file-chooser {
    flex: 18;
    padding: 12px 0px 12px 0px;
}

.foot-chat-input .text-input {
    flex: 513;
    width: 100%
}

.foot-chat-input .text-input::placeholder {}

.foot-chat-input .text-input input {
    width: 100%;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    padding: 12px 12px 12px 24px;
    align-items: center;
    border: none;
}

.foot-chat-input .audio-input {
    flex: 17;
    padding: 12px 0px 12px 0px;
}


/* Media Queries */


/* @media (max-width:1050px) {
    .chat.sent-chat {
        position: relative;
        left: 70%;
    }
} */

@media (min-width: 421px) and (max-width:900px) {
    #right {
        display: none;
    }
}

@media (max-width:420px) {
    /* .nav-item .num-notification {
        position: relative;
        right: 2rem;
    } */
    #right {
        display: none;
    }
    #left .nav {
        display: none;
    }
    #left {
        grid-template-areas: 'header header' 'main main';
        grid-template-columns: 94fr 312fr;
        grid-template-rows: 53fr 708fr;
    }
}